html, body{
    height: 100%;
    width: 100%;  
}
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #333;
}
#cabecera{
    display: flex;
    margin: 0 auto;
    width: 80%;
    background-color: rgb(144, 76, 196);
    color: rgb(248, 255, 247);
    padding: 1rem;
    font-weight: bold;
    align-items: center;
}
#cabecera #logo{
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.5rem;
}
#cabecera #titulo{
    padding-left: 0.5rem;
    padding-right: 1rem;
    margin: 0;
}
#cabecera #tagline{
    font-weight: normal;
    font-size: 2rem;
    padding-top: 0.5rem;
}
#container{
    width: 80%;
    height: 100%;
    border: 1px solid #DDD;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    padding: 1rem;
}
#container h1{
    font-size: 3rem;
}
#container p{ 
    padding-left: 3rem;
    padding-right: 3rem;
}